* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#flex-container {
  height: 400px;
  width: 800px;
  border: 1px solid black;

  display: flex;
  /* flex-wrap: wrap; */
  justify-content: center;
  align-items: center;
}

.flex-items {
  flex-basis: 300px;
  border: 1px solid black;
}

.flex-items:nth-child(1) {
  flex: 1 1 0;
  background-color: yellow;

}

.flex-items:nth-child(2) {
  flex: 1 0 0;
  background-color: blue;
  
}

.flex-items:nth-child(3) {
  flex: 1 0 0;
  background-color: blueviolet;
  
}